h1 {
    position: absolute;
    width: 506px;
    height: 105px;
    left: 148px;
    top: 228px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */


    /* Dark Color */

    color: #21243D;
}

header ul {
    list-style-type: none;
}

#Text1{
    position: absolute;
    width: 497px;
    height: 66px;
    left: 148px;
    top: 373px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    /* Dark Color */

    color: #21243D;
}

#RedButtom {
    position: absolute;
    width: 167px;
    height: 21px;
    left: 168px;
    top: 486px;

    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

    color: #FFFFFF;
}

.John {
    position: absolute;
    width: 243px;
    height: 243px;
    left: 760px;
    top: 210px;

    background: url(image);
}

.nav__link {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;

    color: #000000;
}

#Works {
    position: absolute;
    width: 57px;
    height: 43px;
    left: 856px;
    top: 27px;
}
#Blog {
    position: absolute;
    width: 106px;
    height: 43px;
    left: 882px;
    top: 27px;
}
#Contact {
    position: absolute;
    width: 71px;
    height: 43px;
    left: 1021px;
    top: 27px;
    
}
